<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!--Agregue codigo para que el crytal funcionara-->
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    
 


    <!-- end Agregue codigo para que el crytal funcionara-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>
  <!--Agregue codigo para que el crytal funcionara-->
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
     
        <!--en el Hoting remoto para que se muestre el reporte Funciona-->   
         <!--<add key="ResourceUri" value="/Reports/CrystalViewer/crystalreportviewers13" />-->
          <add key="ResourceUri" value="http://doctormedicalweb.com/Reports/CrystalViewer/crystalreportviewers13" />
         <!--Local hosting para que se muestre el reporte FUNCIONA-->                
       <!--<add key="ResourceUri" value="http://localhost/DoctorMedicalWeb/Reports/CrystalViewer/crystalreportviewers13" />-->
      <!--Debuguiar Funciona-->
         <!--<add key="ResourceUri" value="/Reports/CrystalViewer/crystalreportviewers13" />-->
         
     
    </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <!-- end Agregue codigo para que el crytal funcionara-->
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="ConnectionStringOther" connectionString="Data Source=LAPTOP-P1FNUB6A; Initial Catalog=pruebacrystal;Persist Security Info=True;User ID=sa;Password=Michaeljav712345;Connect Timeout=3600;" providerName="System.Data.SqlClient" />-->
    <!--Conexion Remoto-->
    <!--<add name="DoctorMedicalWebEntities" connectionString="metadata=res://*/App_Data.ModelDoctorMedicalWeb.csdl|res://*/App_Data.ModelDoctorMedicalWeb.ssdl|res://*/App_Data.ModelDoctorMedicalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5021.hostbuddy.com;initial catalog=DB_A1595D_DoctorMedicalWeb;user id=DB_A1595D_DoctorMedicalWeb_admin;password=Michaeljav712345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Conexion Trabajo Nueva BD -->
    <!--<add name="DoctorMedicalWebEntities" connectionString="metadata=res://*/App_Data.ModelDoctorMedicalWeb.csdl|res://*/App_Data.ModelDoctorMedicalWeb.ssdl|res://*/App_Data.ModelDoctorMedicalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER_2014;initial catalog=DB_A1595D_DoctorMedicalWeb;user id=sa;password=Michaeljav712345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Conexion Casa Nueva BD-->
    <add name="DoctorMedicalWebEntities" connectionString="metadata=res://*/App_Data.ModelDoctorMedicalWeb.csdl|res://*/App_Data.ModelDoctorMedicalWeb.ssdl|res://*/App_Data.ModelDoctorMedicalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-P1FNUB6A;initial catalog=DB_A1595D_DoctorMedicalWeb;user id=sa;password=Michaeljav712345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Conexion Trabajo-->
    <!--
    <add name="DoctorMedicalWebEntities" connectionString="metadata=res://*/App_Data.ModelDoctorMedicalWeb.csdl|res://*/App_Data.ModelDoctorMedicalWeb.ssdl|res://*/App_Data.ModelDoctorMedicalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER_2012;initial catalog=DoctorMedicalWeb;user id=ldoc;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Conexion Casa-->
    <!--<add name="DoctorMedicalWebEntities" connectionString="metadata=res://*/App_Data.ModelDoctorMedicalWeb.csdl|res://*/App_Data.ModelDoctorMedicalWeb.ssdl|res://*/App_Data.ModelDoctorMedicalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-P1FNUB6A\MSSQLSERVER2012;initial catalog=DoctorMedicalWeb;user id=ldoc;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="ResourceUri" value="/crystalreportviewers13"></add>-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--Con esto evito un error que me da en el servidor cuando deploy-->
    <!--<customErrors mode="Off" />-->

    <!--<globalization culture="en-GB" uiCulture="en-GB"/>-->
    <!--<globalization enableClientBasedCulture="false" culture="en-GB" uiCulture="en-GB"/>-->
    <!--<globalization enableClientBasedCulture="true" culture="es-DO" uiCulture="es-DO"/>-->
    <!--<globalization enableClientBasedCulture="false" culture="es-DO" uiCulture="es-DO"/>-->
    <!--<globalization enableClientBasedCulture="false" culture="en-US" uiCulture="en-US"/> ESTA CULTURA ME PERMITE  QUE REZOR
     AL POBLAR  LOS INPUT  LE PONGAN  PUNTOS A LOS DECIMALES EJEMPLO 10.00, PERO  LA FECHA ME LA PONE EN UN FORMATO MES DIAS ANIO Y NO ME CONVIENE ASI LA FECHA
     POR ESO ELEGI EL FORMATO es-DO que me permite tener el punto en los decimales y tambien me permite tener el formato dia mes anio-->
    <!--<globalization enableClientBasedCulture="true" culture="es-DO" uiCulture="es-DO" />-->
    <globalization enableClientBasedCulture="false" culture="en-US" uiCulture="en-US" />
    <!--<globalization enableClientBasedCulture="false" culture="en-GB" uiCulture="en-GB" />-->
    <!--<globalization requestEncoding="utf-8"
               responseEncoding="utf-8" />-->
    <!--<globalization enableClientBasedCulture="true"/>-->
    <!--<modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>-->
    <!--<sessionstate mode="InProc" timeout="1" cookieless="UseCookies"></sessionstate>-->
    <httpRuntime />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Syncfusion.Linq.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Export, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Compression.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Pdf.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.DocIO.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.OfficeChart.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.MVC, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.DocToPDFConverter.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.ExcelToPDFConverter.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.PresentationToPDFConverter.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.HtmlConverter.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.OfficeChartToImageConverter.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.ExcelChartToImageConverter.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.SfChart.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.ReportViewer, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Shared.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.RichTextBoxAdv.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Chart.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.GridCommon.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Grid.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.SfMaps.WPF,Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.ReportControls.WPF, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.ReportWriter.Base, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login" timeout="2880"/>-->
      <forms loginUrl="~/PaginaPresentacion/Index" timeout="1439" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="1440" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    
    
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!--<modules>
    <remove name="UrlRoutingModule-4.0"/>
    <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""/>
  </modules>-->
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="/Reports/CrystalViewer/CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=15.3400.0.29, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<validation validateIntegratedModeConfiguration="false"/> Codigo de prueba cuando no se me mostraba la imagen-->

    <!--<caching enabled="false"/> Codigo de prueba cuando no se me mostraba la imagen-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.104.0.21" newVersion="11.104.0.21" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3400.0.29" newVersion="15.3400.0.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3400.0.29" newVersion="15.3400.0.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3400.0.29" newVersion="15.3400.0.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1400.0.33" newVersion="15.1400.0.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.ExcelToPDFConverter.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2400.0.46" newVersion="15.2400.0.46" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3400.0.29" newVersion="15.3400.0.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Presentation.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3400.0.29" newVersion="15.3400.0.29" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  
</configuration>