



.TextoAdvertencia{

        font-size: 50px;
    text-align: center;
}


.label-register{
        padding-left: 0px;
        width: 100%;
       margin-top:8px;
}
.textbox-register{
        padding-left: 0px;
        width: 100%;
       margin-top:8px;
}

body {
    padding-top: 30px;
}

.form-control {
    margin-bottom: 10px;
}

.panel-primary {
    width: 700px;
    height: 182px;
}

.retroceder-label {
    margin-left: -33px;
}


.retroceder-textbox {
    margin-left: -27px;
}

.retroceder-boton {
    margin-left: -20px;
}

.container-login {
    /*min-height: 0;*/
    width: 700px;
    height: 249px;
    /*background-color: yellow;*/
    /*color: #333333;*/
    margin-top: 124PX;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 30px;
}

.form-control {
    margin-bottom: 10px;
}

.labelMarginLogin {
    margin-right: 61px;
}

#btnValidaUsuario  {
    margin-top: 24px ;
}
#btnLogin  {
    margin-top: 34px ;
}
.paddin-textbox-login {
    padding-left: 15px;
}

p {
    margin: 3px 0 10px;
}

.margin-col-login {
    margin-left: -14px;
}

.margin-col-buton-login {
    padding-left: 33px;
}

.btn-primary {
    /*color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 699px;*/
}

/*screen-xs*/
@media (max-width: 768px) {
    .margin-col-buton-login {
        padding-left: 44px;
        margin-top: -28px;
    }

    .panel-primary {
        width: 700px;
        height: 267px;
    }
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
    .margin-col-buton-login {
        padding-left: 44px;
        margin-top: -28px;
    }

    .panel-primary {
        width: 700px;
        height: 267px;
    }
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {
}









/*CSS REGISTER*/
form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { max-width: 360px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }

/*FIN REGETIER*/