﻿.panel-info>.panel-heading {
    color: #6d6d6d;
    background-color: #dcedc8;
    border-color: #dcedc8;
}


#menu .col-md-2 {
    width: 17.6%;
}

.paddingRightleftCinco{
    
       Padding-right: 5px !important;
        padding-left: 5px !important;
}

.paddingRightZero{
    
       Padding-right: 0px !important;
}

.paddingLeftZero{

       Padding-left: 0px !important;
 
}

.marginRightZero{

    margin-right: 0px !important;
}

.marginLeftZeron{

    margin-left: 0px !important;
}



.heigConsulta{  
   
    /*height: 130px !important;*/
       
        min-height:130px !important;

}

/* to collapse panel*/
/*.row{
    margin-top:40px;
    padding: 0 10px;
}



.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}*/
.clickable{
    cursor: pointer;   
}


/*.modal-wide .modal-dialog {
  width: 80%; 
}*/
/*end to collapse panel*/

/*Recta gine*/
#menuRecetaConsulta {
    margin-top: 10px;

}
#modalValidacion .modal-dialog {
    width: 908px;
    margin: 30px auto;
}

#Consult_ReceComentario, #ReceComentario{
    height: 11em !important ;
    
}

#PaciPicture {
    margin-top: 6px;
}
.formFields{
    height: 52px;
    margin-bottom: 3px;
}




#usar_ConsultaMedicaHistorial_CMHistComentario{
    
    height: 88px;
}

/*MenuEinformacion paciente en consulta*/
#MenuEInformacion {
    margin-top: -18px;
}
#MenuEInformacionSegundaFila {
    margin-top: -18px;
}
/*end MenuEinformacion paciente en consulta*/
#usar_ObjMotivoConsultaMConsSecuencia_fk_popup_list_wrapper,#usar_ObjEvaluacionFisicaEFisiSecuencia_fk_popup_list_wrapper   {
    overflow: hidden;
    min-width: 528px;
    max-height: 152px;
    min-height: 20px;
    left: 281.117px;
    top: 476px !important;
    z-index: 10000;
    visibility: visible;
    height: auto;
    display: block;
}
 /*#usar_ObjEvaluacionFisicaEFisiSecuencia_fk_popup_list_wrapper {
    overflow: hidden;
    min-width: 528px;
    max-height: 152px;
    min-height: 20px;
    left: 281.117px;
    top: 542px !important;
    z-index: 10000;
    visibility: visible;
    height: auto;
    display: block;
}*/



/*Textarea*/
textarea.form-control {
    /*height: auto;*/
    height: 51px;
}
/*End Textarea*/

/* dropdown check*/
.e-ddl .e-in-wrap {
    /*padding: 0 24px 0 0;
    height: 27px;*/
}
/*end  dropdown check*/
/*Datepick syncfusion*/
.e-datewidget .e-padding {
    padding: 0 24px 0 0;
    height: 27px;
}
/*End Datepick syncfusion*/

/*search dropdown syncfusion*/
.e-atc .e-in-wrap, .e-atc .e-input, .e-atc-popup, .e-atc .e-options {
    border-color: #cecece;
    background-color: #fff;
    font-family: Segoe UI;
    font-weight: normal;
    height: 21px !important;
}
/* end search dropdown syncfusion*/

.e-ddl-popup .e-atc.e-search {
    width: 100% !important;
    height: 28px !important;
    /*border-bottom: 1px solid !important;*/
    position: relative !important;
}



.nav {
    padding-left: 0;
    margin-bottom: 10px;
    list-style: none;
}
/*Spaci between checkbolist and comment textarea*/
.form-groupCheckbox {
   margin-bottom: -24px;
}
/*End Spaci between checkbolist and comment textarea*/
#parcialpaciente img{
  
    /*width:1in;
    height:1in;*/
    width: 8em;
height: 8em;
    /*height: auto;*/



    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s;
    margin-bottom: 5px;


 object-fit: contain;
 /*object-fit: fill;*/

}

#datosPaciente{
    padding-left:10px;
}

.panel-body {
    padding: 5px;
}
.panel-heading {
    padding: 5px 6px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*Botones Menu*/
.btn-group-lg > .btn, .btn-lg {
    padding: 9px 13px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
/*End botones menu*/
#parcialpaciente p{
  
     margin: 0 0 0px;
}
#parcialpaciente,#embarazo , #InformacionGeneral{
    /*border: 1px solid #333;*/
     border-radius: 4px;
     padding: 4px 5px;
}

.classWithPad { margin:10px; padding:10px; }
#doctPicture {
    /*max-width: 53% !important;*/
      width:2in;
    height:2in;
    /*height: auto;*/



    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s;

 object-fit: contain;
}

#PaciPicture {
    /*max-width: 76% !important;*/
          /*height:100%;
  width:100%;*/
 
 

    /*display: inline-block;*/
    /*max-width: 100%;*/
    width:2in;
    height:2in;
    /*height: auto;*/



    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s;

 object-fit: contain;
  /*object-fit: fill;*/
}

*::-moz-placeholder {
    color: #333;
    font-size: 14px;
}

body {
    color: #646271;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 27px;
    padding: 1px 2px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #090909;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s;
}*/

.container img{
      /*object-fit: cover;*/
      /*width:304;
      height:236;*/
 
    }

/*Botones color*/
button, .buttons, .btn, .modal-footer .btn+.btn {
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    background: #009688!important;
    border: 1px solid #169F85 !important;
}

/*Cabecera grid*/
.e-grid .e-headercelldiv {
    font-weight: bold !important;
    font-size: 14px !important;
    display: block !important;
    border: 0 none !important;
    height: 29px !important;
    line-height: 29px !important;
    margin: -7px !important;
    padding: 0 .7em !important;
    text-align: left ;
    white-space: nowrap !important;
}
/*botones grid*/ 
.e-menu, /*input.e-input, input[type="text"].e-input,*/ .e-mask, /*.e-ul,*/ .e-btn div, .e-tbtn.e-chkbx-hidden,
 /*.e-datepicker table, .e-datepicker table th, .e-datepicker table td,*/
 .e-menu.e-horizontal>.e-list, .e-menu.e-vertical>li.e-separator, 
.e-menu.e-context>li.e-separator, .e-tab.e-js>.e-header, .e-uploadbox .e-action-perform, 
.e-uploadbox .uploaddialog.e-dialog.e-dialog-content, .e-tagcloud .e-load, .e-scale, /*.e-select,*/ .e-input.e-placeholder {
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 none !important;
    line-height: normal !important;
    height: 38px !important;
    width: 100% !important;
    /*background-color:cadetblue !important;*/
       background-color: white !important;
    color: black !important;
    border: 2px solid #4CAF50 !important;/* Green */
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}
/*Botones del grid para ponerlos verdes y anchos*/
.e-grid .e-select {
        margin: 0 !important;
    padding: 0 !important;
    outline: 0 none !important;
    line-height: normal !important;
    height: 27px !important;
  width: 100% !important;
    /*background-color:cadetblue !important;*/
       background-color: white !important;
    color: black !important;
    border: 2px solid #4CAF50 !important;/* Green */
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.e-ul {
     border: none  !important;
}

/*BOTONES*/
.e-btn, .e-tbtn, .e-split-btn {
    font-family: Segoe UI !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

/*Texbox de busqueda del grid*/
.e-grid .e-ejinputtext {
    border: 1px solid #cecece !important;
    outline: none !important;
    background-color: #fff !important;
    color: #2272b7 !important;
    vertical-align: baseline !important;
    /*height: 25px !important;*/    height: 17px  !important;
    width: 25em !important;
}

/*RADIO DE BOTONES DEL GRID*/
.e-atc-popup, .e-atc .e-in-wrap, .e-atc .e-in-wrap .e-input, .e-acrdn-scroller, .e-acrdn .e-select, .e-chkbox-wrap div>span, .e-datepicker.e-popup, .e-datewidget .e-in-wrap, .e-datewidget .e-in-wrap .e-input, .e-daterangepicker-popup.e-popup, .e-daterangewidget .e-in-wrap, .e-daterangewidget .e-in-wrap .e-input, .e-drpbuttons, .e-daterangepicker-popup.e-popup .e-custom-dateranges li, .e-datetime-popup.e-popup, .e-datetime-popup .e-dt-button, .e-datetime-wrap .e-in-wrap, .e-datetime-wrap .e-in-wrap .e-input, .e-dialog-wrap, .e-dialog-wrap>.e-header .e-dialog-icon, .e-ddl-popup.e-popup, .e-ddl .e-in-wrap, .e-ddl .e-in-wrap .e-input, .e-numeric .e-in-wrap, .e-numeric .e-in-wrap .e-input, .e-percent .e-in-wrap, .e-percent .e-in-wrap .e-input, .e-currency .e-in-wrap, .e-currency .e-in-wrap .e-input, .e-mask .e-in-wrap, .e-mask .e-in-wrap .e-input, .e-textbox, .e-menu, .e-tab, .e-time-popup.e-popup, .e-timewidget .e-in-wrap, .e-timewidget .e-in-wrap .e-input, .e-toolbar, .e-toolbar .e-tooltxt, .e-upload-box .e-selectpart, .e-upload-box .e-btn, .e-treeview .e-text, .e-fullrow-wrap .e-fullrow, .e-splitbutton, .e-fileexplorer .e-tilenode, .e-rte, .e-rte.e-dialog .e-inputtext, .e-btn.e-select, .e-progressbar, .e-check-wrap .e-chk-inact, .e-check-wrap .e-chk-act, .e-check-wrap .e-chk-indeter {
    border-radius: 13px;
}
/*bORDES DEL BOTON*/
.e-btn.e-select {
    border: -1px solid !important;
    /* height: 10px; */
    /* width: 10px; */
}
 .e-grid .e-rowcell{

        height:21px !important;
       border-width: 1px 0 0 1px !important;
    /*padding: .7em !important;*/
     padding: 6px !important;
    line-height: 22px !important;
    white-space: normal !important;
    /*white-space: nowrap !important;*/
    width: auto !important;
    vertical-align: middle !important;
        font-size: 22px !important;

        }

.e-grid .e-headercell, .e-grid .e-headercell-hover {
    height: 24px !important; 
    padding: 0 .5em !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-align: left !important;
}

.egrid .e-unboundcelldiv {
   
}

.e-grid .e-table, .e-grid .e-gridsummary {

        width: 100%;
    /* table-layout: fixed; */
    border: 0 none;
    border-collapse: separate;
    margin-top: 0;
}

/*.panel.panel-default*/ 

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 0px;
    margin-bottom: 10px;
}



#PanelAccion{
    margin-top: 1px;
  
    position: relative;
    width: 92%;
    margin-bottom: 4px;
    margin-left: 13px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -moz-column-break-inside: avoid;
    
    opacity: 1;
    transition: all .2s ease;
    border-radius: 16px;
    /*height: 55px;*/
    height: 32px;
    /*display:none;*/
}


.x_panel {
    position: relative;
    width: 160%;
    margin-bottom: 10px;
    margin-left: 13px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    border-radius: 16px;
}

div#EstadoAccion {
    margin-top: -19px;
    margin-left: -14px;
}

#col_Especialidad {

      width: 22%;


}

#DoctCUPRE {


}

#cuprediv {

    /*width: 192px;*/
}






.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 0px;
}

/*.submit-progress {

    position:fixed;
    top:50%;
    left:50%;
    height:6em;
    padding-top:2.5em;
    z-index:1;
    width: 20em;
    margin-left:-10em;
    padding-left:2.1em;
    background-color:black;
    color:white;
}*/

  



/*PRUEBA*/
/*pTRUEBA*/


    