﻿@model DoctorMedicalWeb.Models.Usar_Paciente

@{
    ViewBag.Title = "Pacientelista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="btn btn-info btn-lg" href=@Url.Action(ViewBag.VistaCsharp, ViewBag.ControlCsharp)><span class="glyphicon glyphicon-arrow-left"></span></a>
<div class="jumbotron">
    <h1>Listado</h1>
</div>
@{<span class="sampleName"> </span>}
@{
    @(Html.EJ().Grid<DoctorMedicalWeb.Models.Usar_Paciente>("Searching")
                    .Datasource((IEnumerable<object>)ViewBag.datasource)


           .ToolbarSettings(toolbar =>
                {
                    toolbar.ShowToolbar().ToolbarItems(items =>
                    {
                        items.AddTool(ToolBarItems.PrintGrid);
                    });
                })

        .AllowPaging()
        .ToolbarSettings(toolbar => { toolbar.ShowToolbar().ToolbarItems(items => { items.AddTool(ToolBarItems.Search); }); })
        .Columns(col =>
        {
            col.Field("PaciSecuencia").HeaderText("ID").IsPrimaryKey(true).Visible(false).TextAlign(TextAlign.Right).Width(75).Add();
            col.Field("PaciCodigo").HeaderText("Código").Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("PaciNombre").HeaderText("Nombre").Width(150).Add();
            col.Field("PaciApellido1").HeaderText("Primer Apellido").Width(150).Add();
            col.Field("PaciApellido2").HeaderText("Segundo Apellido").Width(150).Add();
            col.Field("PaciDocumento").HeaderText("RNC").Width(150).Add();      
            col.HeaderText("").Commands(command =>
               {
                   command.Type("detail")
                          .ButtonOptions(new Syncfusion.JavaScript.Models.ButtonProperties()
                          {
                              Text = "Editar",
                              Width = "100px",
                              Click = "onClick"
                          }).Add();

               }).TextAlign(TextAlign.Left)

               .Width(60)
               .Add();

        })

    )
}

@section Scripts{
    <script type="text/javascript">

        function onClick(args) {

            //button proseesand
            var btn = $(this);

            //var todosbtn = $('#btnDelete');
            var todosbtn = $('button');

            //bloquear boton
            doct_DisabledButtonAndEventClick(btn, 'Procesando...', todosbtn);

            var grid = $("#Searching").ejGrid("instance");
            var index = this.element.closest("tr").index();
            var record = grid.getCurrentViewData()[index];

            //show screen block
            $.LoadingOverlay("show");


            //send object to controller
            //start ajax
            $.ajax({
                type: "POST",
                url: '@Url.Action("Editar", ViewBag.ControlCsharp)',
                dataType: "json",
                data: JSON.stringify(record),
                contentType: "application/json; charset=utf-8",
                cache: false,
                complete: (function () {

                    //No utilizo el  esbloqueador bloquear por que como la pagina se recarga
                    //y le puse un bloqueador y desbloqueador  en el layout no necesito este
                    //   $.LoadingOverlay("hide");
                }),
                success: (function (data) {

                    if (data.respuesta) {

                        //$("#msgExitoso").fadeIn('slow').animate({ opacity: 1.0 }, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow');
                        //$("#msgExitoso").show()
                        //setTimeout('$("#msgExitoso").hide()', 2500);

                        //location.reload();
                        var di = data.redirect;
                        window.location.href = di;
                    }
                    else {

                        alert(data.error);
                    }


                    ////cuando devuelva del controlador la respuesta entonces se abilita el boton
                    doct_EnableButtonAndEventClick(btn, "Guardar", todosbtn);


                }),//end susccess
                error: (function () {

                    try {
                        alert('Error en controller login y no se ejecuto el result json ' + throwError);
                    } catch (e) {
                        alert('Problemas en el result json del controller, favor consultar al administrador ');
                    }

                    //cuando devuelva del controlador la respuesta entonces se abilita el boton
                    doct_EnableButtonAndEventClick(btn, "Guardar", todosbtn);
                    //quito splash
                    //$.LoadingOverlay("hide");
                })    //end error
            })

        }//end onClick


    </script>
}
