﻿@model DoctorMedicalWeb.Models.Usar_Cita

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="~/Scripts/ej/web/ej.navigationdrawer.min.js"></script>Da error *@

<script src="~/Scripts/ej/web/ej.listview.min.js"></script>
<script src="~/Scripts/ej/web/ej.recurrenceeditor.min.js"></script>




<script src="~/Scripts/ej/l10n/ej.localetexts.es-ES.min.js"></script>/*los nombre scomo semana dia etc los pone en espanol*/

<script src="~/Scripts/ej/web/ej.schedule.min.js"></script>
<div class="container">
    @using (Html.BeginForm("Save", "Cita", FormMethod.Post, new { id = "frmCita", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="row">
            <div class="col-xs-12 col-md-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Citas</h2>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div class="cuerpo ">
                        <div class="row">

                            <div id="menu" class="col-xs-12 col-sm-12 col-md-12" style="bottom: 10px;z-index: 999;">
                                <button type="button" id="btnNuevo" class="btn btn-lg btn-primary glyphicon glyphicon-plus " accesskey="n">Nuevo</button>
                                <button type="button" id="btnSave" class="btn btn-lg btn-success glyphicon glyphicon-floppy-disk " accesskey="s" hidden>Guardar</button>
                                <button type="button" id="btnBuscarPaciente" class="btn btn-lg btn-danger glyphicon glyphicon-search  " accesskey="x">Pacientes</button>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <!--Patient current-->
                                <div id="parcialpaciente">
                                    <div class="panel panel-info ">
                                        <div class="panel-heading">
                                            Paciente
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="content">
                                                <div class="row">

                                                    <div id="datosPaciente" class="col-xs-12 col-sm-12 col-md-12">

                                                        <div class="col-xs-12 col-sm-5 col-md-5">
                                                            <p>@Html.LabelFor(s => s.ConsultorioClinica):<span id="ConsultorioClinica"></span></p>
                                                            <p> @Html.LabelFor(s => s.CodigoPaciente):<span id="CodigoPaciente"></span> </p>
                                                            @*<div class="row">
                                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                                        <p> @Html.LabelFor(s => s.CodigoPaciente):<span id="CodigoPaciente"></span> </p>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                                        <div class="form-group form-inline ">
                                                                            @Html.LabelFor(model => model.CitaCancelada)
                                                                            @Html.CheckBoxFor(model => model.CitaCancelada, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.CitaCancelada) })
                                                                            @Html.ValidationMessageFor(model => model.CitaCancelada)
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                            @*<p>@Html.LabelFor(s => s.PaciNombre):<span id="PaciNombre"></span></p>*@
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                                    <p>@Html.LabelFor(s => s.PaciNombre):<span id="PaciNombre"></span></p>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                                    <p><label>Apellido</label>:<span id="PaciApellido"></span></p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                                            <p><label>@Html.LabelFor(s => s.PaciTelefono):</label> <span id="PaciTelefono"></span></p>
                                                            <p><label>@Html.LabelFor(s => s.PaciEmail):</label> <span id="PaciEmail"></span></p>
                                                            @*<p><label>@Html.LabelFor(model => model.CitaCancelada):</label>  <input class="form-control" data-val="true" data-val-required="The Cancelada:  field is required." id="CitaCancelada" name="CitaCancelada" placeholder="Cancelada: " type="checkbox" value="true"></p>*@
                                                            @*  <p><label>Apellido</label>:<span id="PaciApellido"></span></p>*@
                                                            @*<div class="row">*@
                                                            <div class="form-group form-inline ">
                                                                @Html.LabelFor(model => model.CitaCancelada)
                                                                @Html.CheckBoxFor(model => model.CitaCancelada, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.CitaCancelada) })
                                                                @Html.ValidationMessageFor(model => model.CitaCancelada)
                                                            </div>
                                                            @*</div>*@
                                                        </div>
                                                        <div class="col-xs-12 col-sm-3 col-md-3">
                                                            @*<div class="row">*@
                                                                <div class="form-group ">
                                                                    @Html.LabelFor(model => model.CitaCancelacionMotivo)
                                                                    @Html.TextAreaFor(model => model.CitaCancelacionMotivo, new { @class = "form-control", placeholder = "Motivo Cancelación" })
                                                                    @Html.ValidationMessageFor(model => model.CitaCancelacionMotivo)
                                                                </div>
                                                            @*</div>*@
                                                        </div>
                                                        @*  <div class="col-xs-12 col-sm-2 col-md-2">

                                                                </div>

                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                                    <div class="form-group formFields ">
                                                                        @Html.LabelFor(model => model.CitaCancelacionMotivo)
                                                                        @Html.TextAreaFor(model => model.CitaCancelacionMotivo, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.CitaCancelacionMotivo) })
                                                                        @Html.ValidationMessageFor(model => model.CitaCancelacionMotivo)
                                                                    </div>
                                                                </div>
                                                            </div>*@



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Patient current-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                @(Html.EJ().Schedule("Schedule1")
        .Width("100%")
        .Height("525px")
        .CurrentDate(new DateTime(2014, 6, 2))
.Locale("es-ES")
.TimeMode(TimeMode.Hour12)
//.DateFormat("dd/MM/yyyy")
        .AppointmentSettings(fields => fields.Datasource(@ViewBag.listSchedule)
            .Id("ProgramId")
            .Subject("ProgramName")
            .StartTime("ProgramStartTime")
            .EndTime("ProgramEndTime")
            .Description("Comments")
            .AllDay("IsAllDay")
            .Recurrence("IsRecurrence")
            .RecurrenceRule("RecurrenceRule"))
                                )
                            </div>
                        </div>

                        @*<div class="row ">

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(model => model.ConsultorioClinica)
                                        @Html.TextBoxFor(model => model.ConsultorioClinica, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.ConsultorioClinica) })
                                        @Html.ValidationMessageFor(model => model.ConsultorioClinica)
                                        </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(c => c.CodigoPaciente)
                                        @Html.TextBoxFor(model => model.CodigoPaciente, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.CodigoPaciente) })
                                        @Html.ValidationMessageFor(model => model.CodigoPaciente, null, new { @class = "label label-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row ">


                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(c => c.PaciNombre)
                                        @Html.TextBoxFor(model => model.PaciNombre, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciNombre) })
                                        @Html.ValidationMessageFor(model => model.PaciNombre, null, new { @class = "label label-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(model => model.PaciApellido1)
                                        @Html.TextBoxFor(model => model.PaciApellido1, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciApellido1) })
                                        @Html.ValidationMessageFor(model => model.PaciApellido1)
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(model => model.PaciApellido2)
                                        @Html.TextBoxFor(model => model.PaciApellido2, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciApellido2) })
                                        @Html.ValidationMessageFor(model => model.PaciApellido2)
                                    </div>
                                </div>

                            </div>
                            <div class="row ">

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(c => c.PaciNombre)
                                        @Html.TextBoxFor(model => model.PaciNombre, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciNombre) })
                                        @Html.ValidationMessageFor(model => model.PaciNombre, null, new { @class = "label label-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(model => model.PaciApellido1)
                                        @Html.TextBoxFor(model => model.PaciApellido1, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciApellido1) })
                                        @Html.ValidationMessageFor(model => model.PaciApellido1)
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group formFields ">
                                        @Html.LabelFor(model => model.PaciApellido2)
                                        @Html.TextBoxFor(model => model.PaciApellido2, new { @class = "form-control", @readonly = "readonly", @style = "background:rgb(255, 255, 192) !important", placeholder = Html.DisplayNameFor(n => n.PaciApellido2) })
                                        @Html.ValidationMessageFor(model => model.PaciApellido2)
                                    </div>
                                </div>

                            </div>*@




                    </div>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.PaciSecuencia_fk)

    }

</div>

@section Scripts {

    <script type="text/javascript">
        var formularioGlobal = 'frmCita';
        var campoSecuencia = 'Id';
        var vista = '@ViewBag.VistaCsharp';
        var control = '@ViewBag.ControlCsharp';

    </script>

}
