﻿@model DoctorMedicalWeb.LoginView.LoginRegisterView
@using System.Web.Helpers;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPaginaPresentacion.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
}

<!-- Modal Start here-->
<!-- Modal ends Here -->

<div class="container-login  center   ">

    @*<center>
        <p><h1>Doctor Medical Web</h1></p> <center />*@
    <div class="row ">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Iniciar Sesión
                    </h3>
                </div>
                <div class="panel-body ">
                    <div class="row" id="LoginUsar_usuario">
                        <div class="col-xs-12 col-md-12 well well-sm login-box">
                            @using (Html.BeginForm("Index", "PaginaPresentacion", FormMethod.Post, new { Id = "frmInicioSesionUsar_usuario", autocomplete = "off" }))
                            {
                                @*begin wait messages area*@
                                <div class="submit-progress hidden">
                                    <label>Procesando, por favor espere . . . @*<img src="~/Content/AdminFiles/images/ajax-loader.gif" />*@</label>
                                </div>
                                @*end wait messages area*@

                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="col-xs-12 col-md-5 margin-col-login ">
                                    @Html.LabelFor(model => model.Usar_login.Email, new { @class = "col-md-6  control-label  labelMarginLogin   " })
                                    <div class="input-group paddin-textbox-login ">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        @Html.TextBoxFor(model => model.Usar_login.Email, new { id = "txtEmail", @class = "form-control ", placeholder = Html.DisplayNameFor(n => n.Usar_login.Email), @autofocus = "autofocus" })
                                    </div>
                                    <p class="paddin-textbox-login"> @Html.ValidationMessageFor(model => model.Usar_login.Email, null, new { @class = "label label-danger" })</p>
                                </div>
                                <div class="col-xs-12  col-md-5  margin-col-login ">
                                    @Html.LabelFor(model => model.Usar_login.Clave, new { @class = "col-md-6 control-label  labelMarginLogin" })
                                    <div class="input-group paddin-textbox-login">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        @Html.PasswordFor(model => model.Usar_login.Clave, new { Id = "txtClave", @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Usar_login.Clave) })
                                    </div>
                                    <p class="paddin-textbox-login"> @Html.ValidationMessageFor(model => model.Usar_login.Clave, null, new { @class = "label label-danger" })</p>
                                    <p>
                                        <a class="paddin-textbox-login" href="#" onclick="LlamarAdministrador();">Perdio su clave?</a>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-2 margin-col-buton-login">
                                    <button type="button"
                                            @*id="btnLogin"*@
                                            id="btnValidaUsuario"
                                            class="btn btn-labeled btn-success retroceder-textbox margin-top-Login"
                                            @*onclick="return doct_DisabledButtonAndEventClick(this,'Procesando...')"*@>
                                        Validar Usuario
                                    </button>

                                </div>
                                @*<div class="form-group">
                                        <button id="btnRegistrarUser" type="button" class="btn btn-info btn-block">Crea tu cuenta</button>
                                    </div>*@
                            }
                        </div>
                    </div>
                    <div class="row" id="CrearUsar_usuario" hidden>
                        <button id="btnCrearUsar_usuario" class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Crea una cuenta
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <div class="row">
                                    <div class="panel ">
                                        <div class="panel-body">

                                            @using (Html.BeginForm("CrearUsar_usuario", "PaginaPresentacion", FormMethod.Post, new { Id = "frmCrearUsar_usuario", autocomplete = "off" }))
                                            {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <h2>Nueva Cuenta</h2>
                                            </div>

                                            @Html.LabelFor(model => model.Usar_usuario.UsuaNombre, new { @class = "col-md-12  control-label   label-register   " })
                                            <div class="input-group  textbox-register  ">
                                                @Html.TextBoxFor(model => model.Usar_usuario.UsuaNombre, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control ",
                                                placeholder = Html.DisplayNameFor(n => n.Usar_usuario.UsuaNombre)
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaNombre, null, new { @class = "label label-danger" })
                                            </div>

                                            @Html.LabelFor(model => model.Usar_usuario.UsuaApellido, new { @class = "col-md-12  control-label   label-register   " })
                                            <div class="input-group textbox-register  ">
                                                @Html.TextBoxFor(model => model.Usar_usuario.UsuaApellido, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control ",
                                                placeholder = Html.DisplayNameFor(n => n.Usar_usuario.UsuaApellido)
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaApellido, null, new { @class = "label label-danger" })
                                            </div>

                                            @Html.LabelFor(model => model.Usar_usuario.UsuaEmail, new { @class = "col-md-12  control-label   label-register   " })

                                            <div class="input-group textbox-register  ">
                                                @Html.TextBoxFor(model => model.Usar_usuario.UsuaEmail, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control ",
                                                placeholder = Html.DisplayNameFor(n => n.Usar_usuario.UsuaEmail)
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaEmail, null, new { @class = "label label-danger" })
                                                @Html.ValidationMessage("Validacion-Completa", new { @class = "label label-danger", id = "Validacion-Completa" })
                                            </div>

                                            <label class="col-md-12  control-label   label-register " for="Email">Vuelva a Ingresar el Correo</label>
                                            <div class="input-group textbox-register  ">
                                                @Html.TextBoxFor(model => model.Usar_usuario.UsuaEmailConfirmacion, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control ",
                                                placeholder = "Vuelva a Ingresar el Correo"
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaEmailConfirmacion, null, new { @class = "label label-danger" })
                                                @Html.ValidationMessage("Validacion-Completa", new { @class = "label label-danger", id = "Validacion-Completa2" })
                                            </div>

                                            @Html.LabelFor(model => model.Usar_usuario.UsuaClave, new { @class = "col-md-12  control-label   label-register" })
                                            <div class="input-group textbox-register">
                                                @Html.PasswordFor(model => model.Usar_usuario.UsuaClave, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control",
                                                placeholder = Html.DisplayNameFor(n => n.Usar_usuario.UsuaClave)
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaClave, null, new { @class = "label label-danger" })
                                            </div>

                                            <label class="col-md-12  control-label   label-register " for="Email">Vuelva a Ingresar el Contrasenia</label>
                                            <div class="input-group textbox-register  ">
                                                @Html.PasswordFor(model => model.Usar_usuario.UsuaClaveConfirmacion, new
                                               { @*@Value = "michael@hotmail.com",*@ @class = "col-md-12  form-control ",
                                                placeholder = "Vuelva a Ingresar el Contrasenia"
                                               })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaClaveConfirmacion, null, new { @class = "label label-danger" })
                                            </div>

                                            <label class="col-md-12  control-label   label-register " for="PaisSecuencia">País</label>
                                            <div class="input-group textbox-register  ">
                                         
                                                @* Este es el que uso   @Html.DropDownListFor(m => m.Usar_usuario.PaisSecuencia,
                                                    ViewBag.PaisList as SelectList,
                                                    "Seleccione Pais",
                                                    new { @class = "form-control" })*@



                                                @*@Html.DropDownListFor(m => m.Usar_usuario.PaisSecuencia,
                                                    new SelectList(ViewBag.PaisList, "PaisSecuencia", "PaisNombre"),
                                                    "Seleccione Pais",
                                                    new { @class = "form-control" })*@
                                                @*@Html.DropDownListFor(m => m.Usar_usuario.pais, (IEnumerable<SelectListItem>)new SelectList(ViewBag.PaisList), "Seleccione Pais", new { @class = "form-control" })*@
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.PaisSecuencia, null, new { @class = "label label-danger" })
                                            </div>
                                            <label class="col-md-12  control-label   label-register " for="PlanSecuencia_fk">Plan</label>
                                            <div class="input-group textbox-register  ">
                                                @*@Html.DropDownListFor(m => m.Usar_usuario.PlanSecuencia_fk,
                                                    ViewBag.PlanesList as SelectList,
                                                    "Seleccione Plan",
                                                    new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.PlanSecuencia_fk, null, new { @class = "label label-danger" })*@
                                            </div>

                                            <label class="col-md-12  control-label   label-register " for="EspeSecuencia_fk">Especialidad</label>
                                            <div class="input-group textbox-register  ">
                                                @*@Html.DropDownListFor(m => m.Usar_usuario.EspeSecuencia_fk,
                                                     ViewBag.Especialidad as SelectList,
                                                    "Seleccione Especialidad",
                                                    new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Usar_usuario.EspeSecuencia_fk, null, new { @class = "label label-danger" })*@
                                            </div>

                                            <label class=" control-label   label-register">
                                                Fecha Nacimiento
                                            </label>
                                            <div class="row">
                                                <div id="idDias" class="col-xs-4 col-md-4">
                                                    @*@Html.DropDownListFor(m => m.Usar_usuario.UsuaFechaNacimientoDia, (IEnumerable<SelectListItem>)new SelectList(ViewBag.lDia, "Value", "Text"), "Seleccione Dia", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaFechaNacimientoDia, null, new { @class = "label label-danger" })*@
                                                    
                                                </div>
                                                <div id="idMeses" class="col-xs-4 col-md-4">
                                                    @*@Html.DropDownListFor(m => m.Usar_usuario.UsuaFechaNacimientoMes, (IEnumerable<SelectListItem>)new SelectList(ViewBag.lMes, "Value", "Text"), "Seleccione Mes", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaFechaNacimientoMes, null, new { @class = "label label-danger" })*@
                                                 
                                                </div>
                                                <div id="idanios" class="col-xs-4 col-md-4">
                                                    @*@Html.DropDownListFor(m => m.Usar_usuario.UsuaFechaNacimientoAnio, (IEnumerable<SelectListItem>)new SelectList(ViewBag.lAnio, "Value", "Text"), "Seleccione Año", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Usar_usuario.UsuaFechaNacimientoAnio, null, new { @class = "label label-danger" })*@
                                                    
                                                </div>
                                            </div>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.Usar_usuario.UsuaGenero, "Masculino")
                                                @Html.Label("Masculino")
                                                @*@Html.ValidationMessageFor(m => m.Usar_usuario.UsuaGenero, null, new { @class = "label label-danger" })*@
                                                @*<input type="radio" name="sex" id="inlineCheckbox1" value="male" />*@
                                                @*masculino*@
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.Usar_usuario.UsuaGenero, "Femenino")
                                                @Html.Label("Femenino")
                                                @Html.ValidationMessageFor(m => m.Usar_usuario.UsuaGenero, null, new { @class = "label label-danger" })
                                                @*<input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                                                    Femenino*@
                                            </label>


                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <button id="btnRegistrarUser"
                                                        type="button"
                                                        class="btn btn-info btn-block"
                                                        @*onclick="return doct_DisabledButtonAndEventClick(this,'Procesando...')"*@>
                                                    Crea tu cuenta
                                                </button>
                                            </div>
                                            @*<p class="form-group">Creando una cuenta , you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
                                                <hr>*@
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>





@section Scripts{
    <script type="text/javascript">

        ////Bloquear boton
        //function doct_DisabledButtonAndEventClick(ctl, msg) {
        //    $(ctl).prop("disabled", true);
        //    //$(ctl).prop("disabled", true).text(msg);
        //    //$(".submit-progress").removeClass("hidden");
        //    //$(".submit-progress").removeClass("hidden");
        //    return true;
        //}


        function LlamarAdministrador() {
            bootbox.alert("Favor contactar a Administrador Tel: 829-865-7498");
        }

        window.console.log("Antes de entrar al metodo ready");
        $(document).ready(function () {

            //habilitar boton 
            $("#btnValidaUsuario").prop("disabled", false);
            doct_EnableButtonAndEventClick($("#btnValidaUsuario"), "Validar Usuario", $('button'));
            //quito splash
             $.LoadingOverlay("hide");

            window.console.log("Dentro al metodo ready");

            //// asignar valores a los text usuausuario y clave
            //$("#txtEmail").val('admin@hotmail.com');
            //$("#txtClave").val('Admin2@hotmail.com');


            $("#txtEmail").keypress(function (e) {
                if (e.keyCode == 13) {

                    $("#txtClave").focus();
                }
                // return false;
            });
            $("#txtClave").keypress(function (e) {
                if (e.keyCode == 13) {
                    if ($("#btnValidaUsuario").attr('disabled')) {
                        //Disabled
       
                    } else {
                        //Not Disabled 
                      
                        $("#btnValidaUsuario").click();
                    }
                   
                }
                // return false;
            });
            //scrolling button
            $("#btnCrearUsar_usuario").click(function () {
                $("html, body").animate({ scrollTop: $(document).height() - 400 }, 1000);
            });

            //login
            $("#btnValidaUsuario").on("click", function () {

                var f = $('#frmInicioSesionUsar_usuario').valid();
                if (f == false) { return false; }

                //button proseesand
                var btn = $(this);

                var todosbtn = $('button');
                //bloquear boton
                doct_DisabledButtonAndEventClick(btn, 'Procesando...', todosbtn);
                //Comienzo LOADING
                $.LoadingOverlay("show");
               
                // Hide it after 3 seconds
                //setTimeout(function () {
                //    $.LoadingOverlay("hide");
                //    //si falla el iniciar sesion para que vuelva a su estado normal
                //    ////doct_EnableButtonAndEventClick($("#btnValidaUsuario"), "Iniciar Sesion");
                //}, 3000);
                //fIN LOADING




                
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Index", "PaginaPresentacion")',
                    data: $('#frmInicioSesionUsar_usuario').serialize(),
                    datatype: "application/json; charset=utf-8",
                    cache: false,
                    complete: (function () {

                        $.LoadingOverlay("hide");
                    }),
                    success:(function (data) {            
                                  
                   
               

                    // alert("Entro devolvio data ");
                    if (data.respuesta) {
                        location.reload();
                        // alert("" + data.redirect);
                        // window.location.href = data.redirect;
                        var di = data.redirect;
                        //  alert("salida desde  controller " + di);
                        //if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
                        //  alert("Es local host " + window.location.pathname + di);
                        //window.location.href = window.location.pathname + di;
                        //}else
                        //{

                        // doct_EnableButtonAndEventClick(btn, "Validar Usuario", todosbtn);
                        //quito splash
                        // $.LoadingOverlay("hide");

                        window.location.href = di;


                        //}
                    }
            else {

                //cuando devuelva del controlador la respuesta entonces se abilita el boton

                        doct_EnableButtonAndEventClick(btn, "Validar Usuario", todosbtn);
                //quito splash
                //$.LoadingOverlay("hide");

                alert(data.error);
            }

                   

            }),
                    
                error:(function () {
                    //cuando devuelva del controlador la respuesta entonces se abilita el boton
                    
                    doct_EnableButtonAndEventClick(btn, "Validar Usuario", todosbtn);
                    //quito splash
                    $.LoadingOverlay("hide");

                    try {
                        alert('Error en controller login y no se ejecuto el result json ' + throwError);
                    } catch (e) {
                        alert('Problemas en el result json del controller, favor consultar al administrador ');
                    }
                })
                })
               
                return false;
            });

            //Register
            $("#btnRegistrarUser").on("click", function () {

                var f = $('#frmCrearUsar_usuario').valid();
                if (f == false) { return false; }

                //button proseesand
                var btn = $(this);

                var todosbtn = $('button');
                //bloquear boton
                doct_DisabledButtonAndEventClick(btn, 'Procesando...', todosbtn);
                //Comienzo LOADING
                $.LoadingOverlay("show");

                // Hide it after 3 seconds
                //setTimeout(function () {
                //    $.LoadingOverlay("hide");
                //    //si falla el iniciar sesion para que vuelva a su estado normal
                //    doct_EnableButtonAndEventClick($("#btnRegistrarUser"), "Crea tu cuenta");
                //}, 3000);
                //fIN LOADING
               


               

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CrearUsar_usuario", "PaginaPresentacion")',
                    data: $('#frmCrearUsar_usuario').serialize(),
                    datatype: "application/json; charset=utf-8",
                    cache: false,
                    complete: (function () {

                        $.LoadingOverlay("hide");
                    }),
                    //si se logra enviar el json, se ejecuta esta condicion de susscess
                        success:(function (data) {

                            //cuando devuelva del controlador la respuesta entonces se abilita el boton
                            
                            doct_EnableButtonAndEventClick(btn, "Crear tu cuenta", todosbtn);
               

                if (data.respuesta) {
                    window.location.href = data.redirect;
                }
                else {
                    //este if solo se ejecutara si al consultar el usuario que se va a crear,
                    // no existe
                    if (data.errorAlconsultarelusuarioParaCrear) {
                        $("#Validacion-Completa").text(data.error).show();
                        $("#Validacion-Completa2").text(data.error).show();
                    }
                    //  alert(data.error + ' (El result json devolvio)');
                    alert(data.error);
                }
            }),
                    //se ejecuta si no se envio el result json desde el controlador
                        error:(function (xhr, ajaxOptions, throwError) {

                            //cuando devuelva del controlador la respuesta entonces se abilita el boton
                            
                            doct_EnableButtonAndEventClick(btn, "Crea tu cuenta", todosbtn);
                            //quito splash
                            $.LoadingOverlay("hide");

                            try {
                                alert('Error en controller y no se ejecuto el result json ' + throwError);
                            } catch (e) {
                                alert('Problemas en el result json del controller, favor consultar al administrador ');
                            }
                        })
                })
                    

                return false;
            });
        });
    </script>
}



