﻿@model DoctorMedicalWeb.Models.Usar_Usuario

@{
    ViewBag.Title = "UsuarioDoctorlista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Retorno*@
<a class="btn btn-info btn-lg" href=@Url.Action("Ini_Usuario", "Usuario")><span class="glyphicon glyphicon-arrow-left"></span></a>
<div class="jumbotron">
    <h1>Listado</h1>
</div>
@{<span class="sampleName"> Listado</span>
    @{
        @(Html.EJ().Grid<object>("Searching")
                            .Datasource((IEnumerable<object>)ViewBag.datasource)

                           .ToolbarSettings(toolbar =>
                                {
                                    toolbar.ShowToolbar().ToolbarItems(items =>
                                    {
                                        items.AddTool(ToolBarItems.PrintGrid);
                                    });
                                })

                .AllowPaging()
                        .ToolbarSettings(toolbar => { toolbar.ShowToolbar().ToolbarItems(items => { items.AddTool(ToolBarItems.Search); }); })

                .Columns(col =>
                {
                    col.Field("UsuaSecuencia").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Add();
                    col.Field("UsuaEmail").HeaderText("Usuario").Width(120).Add();
                    col.Field("UsuaNombre").HeaderText("Nombre").Width(120).Add();
                    col.Field("UsuaApellido").HeaderText("Apellido").Width(120).Add();
                    col.HeaderText("Gestionar Registros").Commands(command =>
                       {
                           command.Type("detail")
                                  .ButtonOptions(new Syncfusion.JavaScript.Models.ButtonProperties()
                                  {
                                      Text = "Editar",
                                      Width = "100px",
                                      Click = "onClick"
                                  }).Add();

                       }).TextAlign(TextAlign.Left)

                       .Width(150)
                       .Add();

                })

        )
    }

    @section Scripts{
        <script type="text/javascript">

            //click edit grid
            function onClick(args) {


                //button proseesand
                var btn = $(this);
                //var todosbtn = $('#btnDelete');
                var todosbtn = $('button');
                //bloquear boton
                doct_DisabledButtonAndEventClick(btn, 'Procesando...', todosbtn);

                var grid = $("#Searching").ejGrid("instance");
                var index = this.element.closest("tr").index();
                var record = grid.getCurrentViewData()[index];


                //show screen block
                $.LoadingOverlay("show");


                //send object to controller
                //start ajax
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Editar", "Usuario")',
                    dataType: "json",
                    data: JSON.stringify(record),
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    complete: (function () {

                        //No utilizo el  esbloqueador bloquear por que como la pagina se recarga
                        //y le puse un bloqueador y desbloqueador  en el layout no necesito este
                        //   $.LoadingOverlay("hide");
                    }),
                    success: (function (data) {

                        if (data.respuesta) {

                            //$("#msgExitoso").fadeIn('slow').animate({ opacity: 1.0 }, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow');
                            //$("#msgExitoso").show()
                            //setTimeout('$("#msgExitoso").hide()', 2500);

                            //location.reload();
                            var di = data.redirect;
                            window.location.href = di;
                        }
                        else {

                            alert(data.error);
                        }


                        ////cuando devuelva del controlador la respuesta entonces se abilita el boton
                        doct_EnableButtonAndEventClick(btn, "Guardar", todosbtn);


                    }),//end susccess
                    error: (function () {

                        try {
                            alert('Error en controller login y no se ejecuto el result json ' + throwError);
                        } catch (e) {
                            alert('Problemas en el result json del controller, favor consultar al administrador ');
                        }

                        //cuando devuelva del controlador la respuesta entonces se abilita el boton
                        doct_EnableButtonAndEventClick(btn, "Guardar", todosbtn);
                        //quito splash
                        //$.LoadingOverlay("hide");
                    })    //end error
                })
                    

            }//end edit grid onClick


        </script>
    }



